<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>방명록</title>
</head>
<body>
	<form method="post" action="/delete">
		<input type='text' name="no" value=<%=no %>>
		<input type="password" name="password">
		<input type="submit" value="확인">
	</form>
	<br/>
	<a href="/">메인으로 돌아가기</a>

</body>
</html>